include README.md
include LICENSE
include setup.py
include requirements.txt
include etc/email_*.txt
include etc/signature
include etc/hzsi.conf.template
include etc/edugain_user_map.json.template

exclude etc/was.*
exclude etc/*.devel.*
exclude etc/metadata*
exclude etc/secret_key
exclude etc/secretkey
exclude **/*.eslintrc.js

recursive-exclude hrzoosignup/frontend/node_modules/* *
