include README.md
include LICENSE
include hrzoosignup/frontend/webpack-stats.json

recursive-include hrzoosignup/templates *.html
recursive-include hrzoosignup/backend/fixtures/ *.json

exclude etc/was.*
exclude etc/*.devel.*
exclude etc/metadata*
exclude etc/secret_key
exclude etc/secretkey
exclude **/*.eslintrc.js

recursive-exclude hrzoosignup/frontend/node_modules/* *
recursive-exclude hrzoosignup/static/* *

