.image-background-hr {
  background-image: url('../assets/login-background-24-hr.png');
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.image-background-en {
  background-image: url('../assets/login-background-24-en.png');
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.bodyreact {
  background-color: #ecf0f5;
}
#hzsi-loginheader {
  background-color: white;
}
#hzsi-loginfooter {
  background-color: white;
}
